---
# clang-tidy configuration for c3c (C11 codebase)

Checks: >
  -*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-use-internal-linkage,
  -portability-avoid-pragma-once,
  -readability-braces-around-statements,
  -readability-duplicate-include,
  -readability-enum-initial-value,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-redundant-casting,
  -readability-redundant-declaration,
  -readability-redundant-parentheses,
  -readability-uppercase-literal-suffix,

# Turn remaining warnings into errors.
WarningsAsErrors: "*"
