# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.ll

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/build/
.idea/
/resources/grammar.tab.c
/resources/grammar.vcg
/resources/lex.yy.c
/resources/y.tab.c
/resources/y.tab.h
/bin/

#visual studio files
.vs/
.vscode/
out/

/cmake-build-debug/
/cmake-build-release/

# Emacs files
TAGS

# Clangd LSP files
/.cache/
/compile_commands.json
