name: CI

on:
  push:
    branches: [ master, dev, windows_compatibility ]
  pull_request:
    branches: [ master ]

jobs:
  build-msys2-clang:
    runs-on: windows-latest
    strategy:
      matrix:
        build_type: [Release, Debug]
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
          install: git mingw-w64-clang-x86_64-cmake mingw-w64-clang-x86_64-toolchain

      - name: CMake
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -G "MSYS Makefiles"
          cmake --build .
      - name: Build testproject
        run: |
          cd resources/testproject
          ../../build/c3c build

  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [Release, Debug]
        
    steps:
      - uses: actions/checkout@v1
      - name: (Ubuntu) Download LLVM
        run: |
          sudo apt-get install zlib1g zlib1g-dev clang-11 libllvm11 llvm-11 llvm-11-dev llvm-11-runtime liblld-11-dev liblld-11
          
      - name: CMake
        run: |
          mkdir build && cd build
          cmake .. -DLLVM_DIR=/usr/lib/llvm-11/cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          cmake --build .

      - name: Build testproject
        run: |
          cd resources/testproject
          ../../build/c3c build
