name: MSVC Debug

on:
  push:
    branches: [ "**" ]
  workflow_dispatch:
    inputs:
      force:
        description: "Run MSVC Debug"
        required: false
        default: "false"

jobs:
  build-msvc-debug:
    if: |
      github.repository_owner == 'c3lang' &&
      (github.event_name == 'push' || github.event.inputs.force == 'true')

    runs-on: windows-latest

    defaults:
      run:
        shell: cmd

    steps:
      - uses: actions/checkout@v4

      - name: CMake
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Debug
          cmake --build build --config Debug

      - name: Compile and run some examples
        run: |
          cd resources
          ..\build\Debug\c3c.exe compile-run -L C:\ --print-linking examples\hello_world_many.c3
          ..\build\Debug\c3c.exe compile-run --print-linking examples\time.c3
          ..\build\Debug\c3c.exe compile-run --print-linking examples\fannkuch-redux.c3
          ..\build\Debug\c3c.exe compile-run examples\contextfree\boolerr.c3
          ..\build\Debug\c3c.exe compile-run examples\ls.c3
          ..\build\Debug\c3c.exe compile-run examples\load_world.c3
          ..\build\Debug\c3c.exe compile-run examples\process.c3
          ..\build\Debug\c3c.exe compile-run examples\args.c3 -- foo -bar "baz baz"
          ..\build\Debug\c3c.exe compile --no-entry --test -g -O0 --threads 1 --target macos-x64 examples\constants.c3
          ..\build\Debug\c3c.exe compile-run msvc_stack.c3

      - name: Build testproject
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd resources/testproject
          ..\..\build\Debug\c3c.exe -vvv --emit-llvm run hello_world_win32 --trust=full
          dir out\llvm\windows-x64
          ..\..\build\Debug\c3c.exe clean
          dir out\llvm\windows-x64

      - name: Build testproject lib
        run: |
          cd resources/testproject
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          ..\..\build\Debug\c3c.exe -vvv build hello_world_win32_lib --trust=full

      - name: Compile and run dynlib-test
        run: |
          cd resources/examples/dynlib-test
          ..\..\..\build\Debug\c3c.exe -vv dynamic-lib add.c3
          ..\..\..\build\Debug\c3c.exe -vv compile-run test.c3 -l ./add.lib

      - name: Compile and run staticlib-test
        run: |
          cd resources/examples/staticlib-test
          ..\..\..\build\Debug\c3c.exe -vv static-lib add.c3
          ..\..\..\build\Debug\c3c.exe -vv compile-run test.c3 -l ./add.lib

      - name: Vendor-fetch
        run: |
          build\Debug\c3c.exe vendor-fetch raylib

      - name: Try raylib5
        run: |
          cd resources
          ..\build\Debug\c3c.exe vendor-fetch raylib
          ..\build\Debug\c3c.exe compile --lib raylib --print-linking examples\raylib\raylib_arkanoid.c3
          ..\build\Debug\c3c.exe compile --lib raylib --print-linking examples\raylib\raylib_snake.c3
          ..\build\Debug\c3c.exe compile --lib raylib --print-linking examples\raylib\raylib_tetris.c3

      - name: Run compiler tests
        run: |
          cd test
          ..\build\Debug\c3c.exe compile-run -O0 src/test_suite_runner.c3 -- ..\build\Debug\c3c.exe test_suite/ --no-terminal

      - name: Compile and run unit tests
        run: |
          cd test
          ..\build\Debug\c3c.exe compile-test unit -O0 -D SLOW_TESTS

      - name: Test python script
        run: |
          py msvc_build_libraries.py --accept-license
          dir msvc_sdk

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: c3-windows-Debug
          path: |
            build\Debug\c3c.exe
            build\Debug\c3c_rt
